.projects{
    padding-top: 200px;

    .site-title{
        font-family: 'Old Standard TT', serif;
        font-size: 8em;
        margin-left: 0.5em;
        margin-bottom: 1em;
        position: relative;

        @media screen and (max-width: 768px) {
            font-size: 4em;
        }
    }
}

