.galleries-page{
    img{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .gallery-name{
        font-family: 'Old Standard TT', serif;
        font-size: 70px;
        padding: 50px 20px;

    }
}